@media (max-width: 1200px)
    .promo
        .header
            &__menu
                font-size: 10px
                justify-content: space-around
            &__phone
                margin: auto
                font-size: 13px
    .meeting
        &__descr
            margin-top: 27px
            font-size: 16px
            text-align: center
            &_big-width
                margin-top: 40px;
                width: 332px;
                line-height: 30px;
        &__points
            display: none
        &__title
            line-height: 39px
            &_big-width
                font-size: 32px
    .people
        &__photos
            width: 100%
        &__photo
            margin-top: 57px     
    .dream
        &__wrapper
            img
                width: 300px        
    .prices
        &__old-price
            font-size: 30px
        &__new-price
            font-size: 40px
        &__wrapper
            margin-top: 35px
        &__descr
            font-size: 10px
    .button
        &_buy
            width: 107px
            font-size: 10px
    .month
        &__element
            margin-left: 0
        &__wrapper
            justify-content: space-around            
    .mobile
        &__descr
            margin-left: 20px
    .partners
        &__wrapper
            img
                width: 100px
    .footer
        &__element
            font-size: 12px  
    .promote
        &__wrapper
            width: 100%
    .form
        flex-direction: column
        input
            margin: 20px auto 
        .button
            margin: 20px auto                                                            