@media (max-width: 1200px)    
    .promo
        .header
            flex-direction: column
            justify-content: space-between
            &__menu
                justify-content: space-around
                width: 100%
                margin-top: 20px
            &__phone
                margin: 20px auto 0 auto   
                font-size: 20px
            &__logo
                 margin: 0 auto
    &__text
        margin-top: 150px             
    .meeting
        &__descr
            margin-top: 27px
            font-size: 16px
            text-align: center
            &_big-width
                margin-top: 40px;
                width: 332px;
                line-height: 30px;
        &__points
            display: none
        &__title
            line-height: 39px
            &_big-width
                font-size: 32px
    .people
        &__photos
            width: 100%
        &__photo
            margin-top: 57px     
    .dream
        &__wrapper
            img
                width: 300px        
    .prices
        &__wrapper
            flex-wrap: wrap
        &__old-price
            font-size: 30px
        &__new-price
            font-size: 40px
        &__wrapper
            margin-top: 35px      
    .mobile
        &__descr
            margin-left: 20px
            width: 400px
    .partners
        &__wrapper
            img
                width: 100px
    .footer
        &__element
            font-size: 12px  
    .promote
        &__wrapper
            width: 100%
    .form
        flex-direction: column
        input
            margin: 20px auto 
        .button
            margin: 20px auto   
    .control
        &__quote
            font-size: 33px   

@media ( max-width:575px  )
    .promo
        .header
            &__menu
                display: none
    

                                                                              