@media (max-width: 1200px)    
    .promo
        .header
            flex-direction: column
            justify-content: space-between
            &__menu
                justify-content: space-around
                width: 100%
                margin-top: 20px
            &__phone
                margin: 20px auto 0 auto   
                font-size: 20px
            &__logo
                 margin: 0 auto
    &__text
        margin-top: 150px             
    .meeting
        &__descr
            margin-top: 27px
            font-size: 16px
            text-align: center
            &_big-width
                margin-top: 40px;
                width: 332px;
                line-height: 30px;
        &__points
            display: none
        &__title
            line-height: 39px
            &_big-width
                font-size: 32px
    .people
        &__photos
            width: 100%
        &__photo
            margin-top: 57px     
    .dream
        &__wrapper
            img
                width: 300px        
    .prices
        &__wrapper
            flex-wrap: wrap
        &__old-price
            font-size: 30px
        &__new-price
            font-size: 40px
        &__wrapper
            margin-top: 35px      
    .mobile
        &__descr
            margin-left: 20px
            width: 400px
    .partners
        &__wrapper
            img
                width: 100px
    .footer
        &__element
            font-size: 12px                                            
@media (max-width: 991px)
    .promo
        &__title1
            font-size: 70px
    .meeting
        &__title
            height: 130px
            text-align: center
            width: 300px
            margin: 0 auto
            margin-bottom: 0
            &_big-width
                text-align: right
                width: 450px
        &__wrapper
            &_big-width
                margin-left: 0
                text-align: right
        &__descr
            margin: 0 auto
            margin-top: -80px
            width: 264px
            &_big-width
                width: 330px
                margin-top: 20px
                text-align: right
                margin-left: 100px
@media (max-width: 768px)   
    .nav
        visibility: visible
    .promo
        min-height: 800px
        &__text
            margin-top: 90px
        &__title2
            font-size: 40px
        &__title1
            font-size: 50px
        .header
            display: flex
            flex-wrap: wrap
            justify-content: center
            &__menu
                font-size: 17px
                display: none
            &__phone
                font-size: 20px
    .meeting
        &__title
            width: 200px
            &_big-width
                width: 300px
        &__descr
            margin-top: 10px
            width: 200px
            &_big-width
                margin-top: 40px
                width: 300px
                margin-left: 20px
    .people
        &__photos
            margin-left: -20px
            width: 550px
    .dream
        &__text
            margin-left: 20px
    .prices
        &__wrapper
            margin: 0 auto
            width: 250px
            flex-wrap: wrap
            button
                margin: 0 auto
                width: 70%
        &__descr
            font-size: 14px
            &_large-text
                width: 220px
        &__status 
            font-size: 25px
    .mobile
        &__descr
            margin-top: -85px
            margin-left: -90px
            width: 240px
    .reserve
        .form
            height: 400px
            flex-wrap: wrap
            &__input
                margin: 0 auto
                margin-top: 20px
            &__button
                margin-top: 30px
    .footer
        &__element
            width: 150px
            font-size: 12px  
    .promote
        &__wrapper
            width: 100%
    .form
        flex-direction: column
        input
            margin: 20px auto 
        .button
            margin: 20px auto   
    .control
        &__quote
            font-size: 33px     
@media (max-width: 575px)                                                           
    .meeting
        &__block
            margin-top: -80px
            flex-wrap: wrap
        &__title
            width: 280px
            text-align: center
            &_big-width
                width: 300px
                margin-top: 20px
        &__descr
            width: 280px
            margin-top: -30px
            &_big-width
                margin-top: 40px
                text-align: center
        &__wrapper
            width: 300px
    .people
        &__photos
            flex-wrap: wrap
            width: 100%
            justify-content: center
            margin-left: 0
    .dream
        &__wrapper
            flex-wrap: wrap
            justify-content: center
    .program
        padding: 62px 0 80px 0
        &__wrapper
            margin-top: 0
            flex-wrap: wrap
        &__timetable
            margin-top: 30px
            margin-bottom: 30px
    .mobile
        &__wrapper
            width: 300px
            flex-wrap: wrap
            justify-content: center
            margin-left: 100px
        &__descr
            top: 0
            left: 0
        &__img
            display: none
        &__iphone
            display: none
        &__shadow
            display: none
        &__item
            margin: 0 auto
    .month
        &__descr
            font-size: 20px
        &__wrapper-common
            display: flex
        &__element
            height: 204px
    .question
        padding: 50px 0 20px 0
    .promote
        padding: 70px 0 30px 0
        &__wrapper
            flex-wrap: wrap
            width: 200px
            justify-content: center
        &__element
            margin-top: 20px
    .reserve
        .form
            &__input
                margin-top: 0
    .partners
        &__wrapper
            margin-top: 0
            justify-content: center
            flex-wrap: wrap
            img
                margin: 10px 30px 20px 30px
    .footer
        .container
            flex-wrap: wrap
            justify-content: center
        &__element
            width: 200px
    

            font-size: 33px   

@media ( max-width:575px  )
    .promo
        .header
            &__menu
                display: none
                font-size: 33px                                                                 

                                                                                                                                           
