html
    scroll-behavior: smooth
*
    font-family: "Muller", sans-serif
    color: #ffffff
    box-sizing: border-box
    margin: 0
    padding: 0
section
    overflow: hidden
a
    color: #ffffff
    &:hover
        color: #a1a1a1
        text-decoration: none

@import 'base/fonts'
@import 'base/mixins'
@import 'base/variables'

@import 'libs/animate'

@import 'elements/section-header'
@import 'elements/button'
@import 'elements/design-elements'
<<<<<<< HEAD
@import 'elements/burger'
@import 'elements/menu'
=======
@import 'elements/roller'
>>>>>>> f95d0c1aba5f61715a7fd68abf76b98d506f4ec7

@import 'blocks/promo'
@import 'blocks/header'
@import 'blocks/meeting'
@import 'blocks/people'
@import 'blocks/promo'
@import 'blocks/header'
@import 'blocks/meeting'
@import 'blocks/dream'
@import 'blocks/control'
@import 'blocks/program'
@import 'blocks/month'
@import 'blocks/partners'
@import 'blocks/footer'
@import 'blocks/reserve'
@import 'blocks/promote'
@import 'blocks/overlay'
@import 'blocks/nav';

@import 'blocks/mobile'
@import 'base/fonts'
@import 'blocks/prices'
@import 'blocks/question'
@import 'base/media'
