 
*
    font-family: "Muller", sans-serif
    color: #ffffff
    box-sizing: border-box
    margin: 0
    padding: 0
a
    color: #ffffff
    &:hover
        color: #a1a1a1
        text-decoration: none
@import 'base/mixins'
@import 'base/variables'
@import 'elements/button'
@import 'blocks/promo'
@import 'blocks/header'
@import 'blocks/meeting'
@import 'base/fonts'
       