.button
    display: block
    width: 362px
    height: 76px
    border-radius: 38px
    background-color: #000000
    background-image: linear-gradient(-232deg, #7f12ab 0%, #da16c9 100%)
    border: none
    margin: 88px auto 
    text-transform: uppercase
    font-weight: 500
    &_buy
        width: 208px
        height: 47px
        position: absolute
        display: block
        margin: 0 auto
        bottom: 51px
    &_callback
        margin-top: 40px
        width: 258px
        height: 55px

    
