.menu
    height: 100%
    width: 41%
    background-color: rgba(0, 0, 0, 0.5)
    position: fixed
    top: 0
    left: -100%
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    transition: all 0.5s
    a 
        display: block
        margin: 25px 0
        font-size: 25px
        color: #fff
        font-weight: 500
        width: 100%
        text-align: center
        padding: 10px 0

    &_active
        transition: all 0.5s
        left: 0    