.dream
    padding: 118px 0 71px 0
    min-height: 535px
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        width: 1004px
    .section-header
        color: #000000
    &__descr
        color: #000000
        font-family: "Playfair Display"
        font-size: 20px
        font-style: italic
        line-height: 20px
        margin-top: 27px
    &__name
        color: #000000
        font-size: 18px
        font-weight: 500
        margin-top: 30px
    &__text
        text-align: center
    &__triangle
        position: absolute
        margin-left: -70px
        width: 0
        height: 0
        border-top: 70px solid transparent
        border-left: 120px solid#7f12ab 
        border-bottom: 70px solid transparent
        transform: rotate(-14deg)
        box-shadow: -18px 32px 76px rgba(0, 0, 0, 0.3)
        border-color: linear-gradient(to top, #7f12ab 0%, #da16c9 100%)
        &_program
            top: 621px
            right: 58px
        
        
        