.meeting
    background: url('../../img/meeting/bg_meeting.png') left center/cover no-repeat
    color: #000000
    padding: 158px 0 84px 0
    &__block
        display: flex
        justify-content: space-around
        padding: 0 0 0 0
    &__wrapper
        display: flex
        flex-wrap: wrap
        width: 423px
        &_big-width
            width: 544px
            margin-left: 80px
    &__points
        display: flex
        flex-wrap: wrap
        width: 100px
        height: 88px
    &__point
        margin: 4.5px 4.5px 4.5px 4.5px
        background-color: #c915c3
        width: 2px
        height: 2px
        border-radius: 100%
    &__title
        color: #000000
        margin-left: 30px
        width: 111px
        font-size: 36px
        font-weight: 400
        line-height: 43px
        margin-top: -10px
        &_big-width
            line-height: 39px
            width: 502px
            margin-left: 0
            font-size: 36px
        span
            color: #000000
            font-weight: 500
    &__descr
        line-height: 18px
        color: #797c80
        font-size: 18px
        font-weight: 400
        margin-top: -41px
        &_big-width
            margin-top: 40px
            width: 563px
            line-height: 30px

            