.mobile
    margin-top: 117px
    position: relative
    &__img
        display: inline-block
        width: 225px
        height: 479px
        position: relative
        top: 40px
        background-color: #f9593a
        background: linear-gradient(-43deg, #7f12ab 0%, #da16c9 99%) center center/cover no-repeat
        box-shadow: -18px 32px 76px rgba(0, 0, 0, 0.3)
        border-radius: 20px
        padding: 180px 10px 0 10px 
        text-align: center
        h4
            text-transform: uppercase
            font-weight: 900
            margin-top: 10px
    &__shadow
        display: inline-block
        position: relative
        left: -570px
        z-index: -1
    &__wrapper
        height: 700px
    &__iphone
        display: inline-block
        position: relative
        left: -240px
    &__descr
        display: inline-block
        position: relative
        top: -440px
        left: 300px
    .section-header
        color: #000000
        text-align-last: left
    &__subtitle
        color: #000000
        font-size: 24px
        font-weight: 400
    &__list
        list-style-type: none
    &__item
        color: #000000
        font-size: 16px
        font-weight: 400
        line-height: 44px
        &::before
            top: 0 
            left: 0
            content: '✔'
            margin-right: 17px
            

    
