.people
    min-height: 1721px
    background-color: #fef0ff
    padding: 81px 0 84px 0
    text-align: center
    &__photos
        margin-top: 45px
        width: 1141px
        height: 1461px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        &:first-child(n)
            margin: 0 15px 15px 0